<%
  page_id = page.id if defined?(page)
  page_id ||= params[:page_id]
%>
<div>
  <%= list.name %>
  <%= form_tag user_page_list_path(current_user.id,page_id,list.id), method: 'put', :class => "form-inline" do %>
    <%= text_field_tag "list[name]" %>
    <%= submit_tag 'update list name' %>
  <% end %>
  <%= link_to "(x)", user_page_list_path(current_user.id,page_id,list.id), method: 'delete', remote: true %>
  <br/>
  <%= form_tag user_page_list_goals_path(current_user.id,page_id,list.id), :class => "form-inline" do %>
    <%= text_field_tag "goal[name]" %>
    <%= hidden_field_tag "goal[list_id]", list.id %>
    <%= submit_tag "make a new goal" %>
  <% end %>
  <ul>
  <% list.goals.each do |goal| %>
    <%= render partial: "goals/goal", locals: {page: page, list: list, goal: goal} %>
  <% end %>
  </ul>
</div>
