<div style="margin-left:auto; margin-right:auto; width:auto;"><h1> my name is <%= current_user.name %></h1></div>


<%= link_to "New Page", new_user_page_path(@user.id), id: "new_page", remote: true %>



<div id="all_pages">
<% current_user.pages.each do |page| %>
  <section id="page_<%= page.id %>">
    <b><%= page.name %></b>
    <%= form_tag user_page_path(@user.id,page.id), method: 'put', :class => "form-inline" do %>
      <%= text_field_tag "page[name]" %>
      <%= submit_tag 'update page name' %>
    <% end %>
    <%= link_to "(remove)", user_page_path(@user.id,page.id), method: :delete, remote: true %>
    <br/>
    
    <%= form_tag user_page_lists_path(@user.id,page.id), :class => "form-inline" do %>
      <%= text_field_tag "list[name]" %>
      <%= hidden_field_tag "list[page_id]", page.id %>
      <%= submit_tag "make a new list" %>
    <% end %>
    <%# render "/pages/page", locals: {page: page} #why does this not work? %>
  <% page.lists.each do |list| %>
    <div>
      
      <%= list.name %>
      <%= form_tag user_page_list_path(@user.id,page.id,list.id), method: 'put', :class => "form-inline" do %>
        <%= text_field_tag "list[name]" %>
        <%= submit_tag 'update list name' %>
      <% end %>
      <%= form_tag user_page_list_path(@user.id,page.id,list.id), method: 'delete', :class => "form-inline" do %>
        <%= submit_tag 'delete list' %>
      <% end %><br/>
      <%= form_tag user_page_list_goals_path(@user.id,page.id,list.id), :class => "form-inline" do %>
        <%= text_field_tag "goal[name]" %>
        <%= hidden_field_tag "goal[list_id]", list.id %>
        <%= submit_tag "make a new goal" %>
      <% end %>
      <ul>
    <% list.goals.each do |goal| %>
    <% p goal %>
      <li> <%= goal.name %>
        <%= form_tag user_page_list_goal_path(@user.id,page.id,list.id,goal.id), method: 'put', :class => "form-inline" do %>
          <%= text_field_tag "goal[name]" %>
          <%= submit_tag 'update goal name' %>
        <% end %>
        <%= form_tag user_page_list_goal_path(@user.id,page.id,list.id,goal.id), method: 'delete', :class => "form-inline" do %>
          <%= submit_tag 'delete goal' %>
        <% end %><br/>
        <%= form_tag user_page_list_goal_steps_path(@user.id,page.id,list.id,goal.id), :class => "form-inline" do %>
          <%= text_field_tag "step[name]" %>
          <%= hidden_field_tag "step[goal_id]", goal.id %>
          <%= submit_tag "add a step" %>
        <% end %>
        <ul>
      <% goal.steps.each do |step| %>
        <li><%= step.name %>
        <%= form_tag user_page_list_goal_step_path(@user.id,page.id,list.id,goal.id,step.id), method: 'put', :class => "form-inline" do %>
          <%= text_field_tag "step[name]" %>
          <%= submit_tag 'update step name' %>
        <% end %>
        <%= form_tag user_page_list_goal_step_path(@user.id,page.id,list.id,goal.id,step.id), method: 'delete', :class => "form-inline" do %>
          <%= submit_tag 'delete step' %>
        <% end %>
        </li>
      <% end %>
        </ul>
      </li>
    <% end %>
      </ul>
    </div>
  <% end %>
  </section>
<% end %>
</div>


