<% page = @page %>
<% user = params[:user_id] %>

<section id="page_<%= page.id %>">
<b><%= page.name %></b>
    <%= form_tag user_page_path(user,page.id), method: 'put', :class => "form-inline" do %>
      <%= text_field_tag "page[name]" %>
      <%= submit_tag 'update page name' %>
    <% end %>
    <%= link_to "(remove)", user_page_path(user,page.id), method: :delete, remote: true %>
    <br/>
    <%= form_tag user_page_lists_path(user,page.id), :class => "form-inline" do %>
      <%= text_field_tag "list[name]" %>
      <%= hidden_field_tag "list[page_id]", page.id %>
      <%= submit_tag "make a new list" %>
    <% end %>
  </section>
