<%
  page_id = page.id if defined?(page)
  page_id ||= params[:page_id]
  list_id = list.id if defined?(list)
  list_id ||= params[:list_id]
%>
<li id="goal_<%= goal.id %>" class="lists_space">
  <div class="inline top">
  <%= link_to goal.name, edit_user_page_list_goal_path(current_user.id,page_id,list_id,goal.id), id: "goal_name_#{goal.id}", remote: true, class: "goal_name" %>
  
  <%= link_to "(remove)", user_page_list_goal_path(current_user.id,page_id,list_id,goal.id), method: 'delete', remote: true, class: "small_edit" %> <br/>
  <%= link_to "Add a step", new_user_page_list_goal_step_path(current_user.id,page_id,list_id,goal.id), id: "new_step_link_#{goal.id}", remote:true, class: "small_edit" %>
</div>
  <ul  class="inline">
    <% goal.steps.each do |step| %>
      <%= render partial: "steps/step", locals: { page: page, list: list, goal: goal, step: step } %>
    <% end %>
  </ul>
</li>
